<nav>
  <div id="menuToggle">
    <input id="hamburger-menu" type="checkbox" />
    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <li id="logo-li">
        <a [routerLink]="['']">
          <img width="100" height="100" src="https://img.freepik.com/free-vector/restaurant-logo-editorial-template_23-2148701251.jpg?w=740&t=st=1688907439~exp=1688908039~hmac=7c051cd693116483f5a6faf02470a262c7dd33b0818eca5dbe112b6ec336373e"/>
        </a>
      </li>
      <li>
        <a [routerLink]="['']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/about-us']">AboutUs</a>
      </li>
      <li>
        <a [routerLink]="['/products/all']">Products</a>
      </li>

      <ng-container *ngIf="isLogged()">
        <li>
          <a>Menu</a>
        </li>

        <li id="myProfile">
          <a [routerLink]="['/user/profile']">MyProfile</a>
        </li>

        <li id="logout">
          <a (click)="logout()">LogOut</a>
        </li>
      </ng-container>

      <li>
        <a [routerLink]="['/cart/products']">
          <i class="fa-solid fa-cart-shopping"></i>
          <label *ngIf="productsInCart > 0" id="productsCount">{{productsInCart}}</label>
        </a>
      </li>

      <ng-container *ngIf="!isLogged()">
        <li>Contact</li>

        <li id="login">
          <a [routerLink]="['/auth/login']">Login</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>