
#submit-btn {
    width: 100%;
    padding: 10px;
    border-radius: 40px;
    border: none;
    background: #ac2a2a;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.auth-container {
    padding: 60px;
    width: 41%;
    margin: 100px auto;
    background: #dedcdc;
    height: 25%;
}

.row {
    margin: 10px auto;
    width: 100%;
    display: flex;
    align-items: center;
}

.row > input {
    padding: 21px;
    width: 100%;
    border-radius: non;
    border: none;
    background: none;
    color: black;
    border-bottom: 1px solid;
    text-align: left;
    font-size: 24px;
}

.create-account-message {
    text-align: right;
}
