<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<section class="my-5">
  <div class="container">
    <div class="main-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <app-user-profile-header [username]="user.username"/>

              <div class="list-group list-group-flush text-center mt-4">
                <a
                  href="#"
                  class="list-group-item list-group-item-action border-0 active"
                >
                  Profile Informaton
                </a>
                <a
                  href="#"
                  class="list-group-item list-group-item-action border-0"
                  >Orders</a
                >
                <a
                  href="#"
                  class="list-group-item list-group-item-action border-0"
                  >Settings</a
                >
                <a
                  href="#"
                  class="list-group-item list-group-item-action border-0"
                  >Logout</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <app-list-orders />
        </div>
      </div>
    </div>
  </div>
</section>
