
<h2 id="prodict-title">Our menu</h2>

<div class="product-container">
    <div class="product-card">
        <h3 class="product-name">Product name</h3>
        <img class="product-image" src="https://hips.hearstapps.com/hmg-prod/images/turkey-burger-index-64873e8770b34.jpg?crop=0.6666666666666667xw:1xh;center,top&resize=1200:*"/>
        <p class="product-buy">$18.50</p>
    </div>

    <div class="product-card">
        <h3 class="product-name">Product name</h3>
        <img class="product-image" src="https://hips.hearstapps.com/hmg-prod/images/turkey-burger-index-64873e8770b34.jpg?crop=0.6666666666666667xw:1xh;center,top&resize=1200:*"/>
        <p class="product-buy">$18.50</p>
    </div>

    <div class="product-card">
        <h3 class="product-name">Product name</h3>
        <img class="product-image" src="https://hips.hearstapps.com/hmg-prod/images/turkey-burger-index-64873e8770b34.jpg?crop=0.6666666666666667xw:1xh;center,top&resize=1200:*"/>
        <p class="product-buy">$18.50</p>
    </div>

    <div class="product-card">
        <h3 class="product-name">Product name</h3>
        <img class="product-image" src="https://hips.hearstapps.com/hmg-prod/images/turkey-burger-index-64873e8770b34.jpg?crop=0.6666666666666667xw:1xh;center,top&resize=1200:*"/>
        <p class="product-buy">$18.50</p>
    </div>

    <div class="product-card">
        <h3 class="product-name">Product name</h3>
        <img class="product-image" src="https://hips.hearstapps.com/hmg-prod/images/turkey-burger-index-64873e8770b34.jpg?crop=0.6666666666666667xw:1xh;center,top&resize=1200:*"/>
        <p class="product-buy">$18.50</p>
    </div>

    <div class="product-card">
        <h3 class="product-name">Product name</h3>
        <img class="product-image" src="https://hips.hearstapps.com/hmg-prod/images/turkey-burger-index-64873e8770b34.jpg?crop=0.6666666666666667xw:1xh;center,top&resize=1200:*"/>
        <p class="product-buy">$18.50</p>
    </div>
</div>