
#prodict-title {
    text-align: center;
    font-size: 3em;
}

.product-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    background-color: orange;
    padding: 18px;
    width: 20%;
    margin: 8px 0;
}

.product-image {
    width: 100%;
}

@media screen and (max-width: 740px) {
    .product-container {
        flex-direction: column;
    }

    .product-card {
        width: 100%;
    }
}