h1.site-title {
    font-family: 'Amatic SC';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
}

.header-logo {
    width: 35%;
    margin: auto;
    text-align: center;
}

.header-img {
    padding: 10px;
    width: 50%;
    height: 19em;
    border-radius: 20px;
}

.book-btn {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
}

.book-container {
    margin: auto;
    width: 40%;
}

@media screen and (max-width: 740px) {
    .header-img {
        width: 100%;
        height: 90%;
    }

    .book-container {
        width: 100%;
    }

    h1.site-title {
        padding: 50px 0 0 0;
        margin: 10px;
    }
}