
<div class="auth-container">
    <div class="row">
        <i class="fa-solid fa-user"></i>
        <input #username type="text" placeholder="Your username..." />
    </div>

    <div class="row">
        <i class="fa-solid fa-lock"></i>
        <input #password type="password" placeholder="Your password.."/>
    </div>

    <div class="row">
        <button (click)="login(username, password)" id="submit-btn">Submit</button>
    </div>

    <p class="create-account-message">
        Don't have an account?
        <a [routerLink]="['/auth/register']">Register</a>
    </p>
</div>