
<div class="auth-container">
    <div class="row">
        <i class="fa-solid fa-user"></i>
        <input type="text" placeholder="Your username..." />
    </div>

    <div class="row">
        <i class="fa-solid fa-lock"></i>
        <input type="password" placeholder="Your password.."/>
    </div>

    <div class="row">
        <i class="fa-solid fa-lock"></i>
        <input type="password" placeholder="Repeat your password.."/>
    </div>

    <div class="row">
        <button id="submit-btn">Submit</button>
    </div>

    <p class="create-account-message">
        You have an account?
        <a [routerLink]="['/login']">Login</a>
    </p>
</div>