.page_title {
    text-align: center;
    padding: 30px 0px;
}

.page_title h1 {
    color: #c0392b;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 0;
    position: relative;
    text-transform: capitalize;
}

.tablist {
    text-align: center;
}

.menu_tab {
    margin: 0 auto;
    justify-content: center;
}

.nav-item {
    display: inline-block;
    text-align: center;
    margin: 3px;
}

.nav-tabs .nav-link{
    transition: .3s;
}

.nav-tabs .nav-link.active {
    background: #c0392b;
    color: #fff;
    font-weight: 700;
    border: 1px solid #c0392b;
    text-transform: capitalize;
    padding: 8px;
    border-radius: 13px;
    font-size: 18px;
}

.nav-link {
    color: #000;
}

.nav-tabs .nav-link:hover {
    background: #c0392b;
    color: #fff;
    border: 1px solid #d5f217;
    padding: 8px;
}

.single_menu {
    width: 40%;
    margin: auto;
    position: relative;
    margin-bottom: 75px;
    transition: .3s;
}

.single_menu:hover img{
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
}

.single_menu img {
    position: absolute;
    height: 140px;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transition: .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.menu_content {
    padding-left: 200px;
}

.menu_content h4 {
    font-size: 25px;
    font-weight: 300;
    border-bottom: 1px dashed #c0392b;
    line-height: 2;
    text-transform: capitalize;
}

.menu_content h4 span {
    font-size: 25px;
    font-weight: 800;
    float: right;
    font-style: italic;
    color: #c0392b;
}

.menu_content p {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
}

.menu_btn.btn.btn-danger {
    margin: 0 auto;
    display: block;
    width: 140px;
}

.menu_btn.btn.btn-danger {
	margin: 0 auto;
	display: block;
	width: 140px;
}

.btn.btn-danger {
	background: #c0392b;
	border: 1px solid #c0392b;
	transition: .3s;
	position: relative;
	z-index: 1;
	text-transform: capitalize;
	font-weight: 700;
	overflow: hidden;
	padding: 15px 25px;
}